<section class="container-fluid p-0">
    <!--Tab feeds va discover-->
    <div class="row">
      <%= render '/layouts/tab_feeds'%>

      <article class="tab-content col-md-8 p-0 bg-white" >
        <!-- feeds Page-->
        <div id="feedsPage" class="container-fluid tab-pane active p-0">
          <div class="d-flex justify-content-center mb-2">
                <ul class="nav nav-tabs btn-group btn-group-md pt-3">
                  <li class="nav-item btn btn-white">
                      <a class="navbar-brand active" data-toggle="tab" href="#photoFeeds"><b>PHOTO</b></a>
                  </li>
                  <li class="nav-item btn btn-primary">
                      <a class="navbar-brand text-white" data-toggle="tab" href="#albumFeeds"><b>ALBUM</b></a>
                  </li>
                </ul>
          </div>
          <!-- end button PHOTO and ALBUM-->

          <div class="container-fluid tab-pane active">
            <!-- Tab panes -->
          <div class="tab-content">
            <!-- tab hinh anh -->
              <div class="container-fluid tab-pane active" id="photoFeeds">
                <div class="row d-flex">
                  <% @photos.each do |photo| %>
                    <% if !photo.sharing_mode == false %>
                      <div class="col-sm-12 col-md-12 col-lg-6 border rounded d-flex p-0 mt-2" id="post_photo_<%= photo.user.id %>" >
                        <div class="container m-1">
                          <div class="row">
                            <%= link_to photo_path(photo), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_photo', class: 'col-12 col-sm-12 col-md-6 p-1 size-photos'} do %>
                                <img class="rounded-lg w-100 h-100 pr-2" src="<%= url_for(photo.image) %>">
                            <% end %>
                            <div class="col-md-6 p-0 ">
                              <div class="mt-1">
                                <%= render 'follow_home', user: photo.user %>
                                <a href="#" class="nav-link d-inline-flex p-0">
                                  <img src="<%= photo.user.avatar %>" class="rounded-circle" id="avatarTop">
                                  <p class="text-primary pt-2 pl-2"><b><%= photo.user.full_name %></b></p>
                                </a>
                              </div>
                              <%= link_to photo_path(photo), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_photo'} do %>
                                <div style="height: 140px;">
                                  <h4><b><%= photo.title %></b></h4>
                                  <p><%= photo.description %></p>
                                </div>
                              <% end %>
                              <div class="container d-inline pl-0 b-line">
                                <div class="d-inline-flex">
                                  <img class="btn-like" src="/assets/like.png">
                                  <p style="font-size: 18px; margin: 5px;"><b> 120</b></p>
                                </div>
                                <p class="pt-2 float-right "><%= photo.created_at %></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div> <!-- end tab photo -->
            <!--  tab album -->
              <div class="container-fluid tab-pane fade" id="albumFeeds">
                <div class="row">
                  <% @albums.each do |album| %>
                    <% if !album.sharing_mode == false %>
                      <div class="col-sm-12 col-md-6 border rounded p-0 mt-2 d-flex" >
                        <div class="container-fluid m-2">
                          <div class="row">
                            <div class="col-12 col-sm-12 col-lg-6 mt-3 size-albums" data-toggle="modal" data-target="#modalAlbum">
                              <div class="sizePhotos d-flex justify-content-center m-0">
                                <img class="rounded-sm size-photos" style="position: absolute; z-index: 3;" src="/assets/img2.jpeg">
                                <img class="rounded-sm size-photos" style="position: absolute; z-index: 2; transform: rotate(5deg);" src="/assets/img4.jpeg">
                                <img class="rounded-sm size-photos" style="position: absolute; z-index: 1; transform: rotate(10deg);" src="/assets/img5.jpg">
                                <img class="rounded-sm size-photos" style="position: absolute; z-index: 0; transform: rotate(15deg);" src="/assets/img3.jpg">
                              </div>
                            </div>
                            <div class="col-lg-6 pr-0">
                              <div>
                                <a href="#" class="nav-link d-inline-flex pl-0">
                                  <img src="/assets/logoLogin.png" class="rounded-circle" id="avatarTop">
                                  <p class="text-primary pt-2 pl-2"><b>Dinh Thuan</b></p>
                                </a>
                              <button class="btn mr-1" id="btnHomeFollow"><b>Following</b></button>
                              </div>
                              <div class="pr-2" data-toggle="modal" data-target="#modalAlbum">
                                <h4><b>Title</b></h4>
                                <p>Description: di choi voi ban be, ngam canh thien nhien</p>
                              </div>
                              <div class="container d-inline pl-0 b-line">
                                <div class="d-inline-flex">
                                  <img class="btn-like" src="/assets/like.png">
                                  <p style="font-size: 20px; margin: 5px;"><b> 120</b></p>
                                </div>
                                <p class=" pr-2 float-right"> 1/1/2019</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>


                </div> <!-- end tab albumFeeds -->
              </div> <!-- end tab contents -->
            </div>
          </div>
        </div> <!--end teb feedsPage-->

        <!--tab DiscoverPage-->
        <div id="discoverPage" class="container-fluid tab-pane fade p-0">
          <div class="container-fluid">
            <div class="d-flex justify-content-center">
                <ul class="nav nav-tabs btn-group btn-group-md pt-3">
                  <li class="nav-item btn btn-white">
                      <a class="navbar-brand active" data-toggle="tab" href="#photoDiscover"><b>PHOTO</b></a>
                  </li>
                  <li class="nav-item btn btn-primary">
                      <a class="navbar-brand text-white" data-toggle="tab" href="#albumDiscover"><b>ALBUM</b></a>
                  </li>
                </ul>
          </div> <!-- end button PHOTO and ALBUM-->
          <div class="container-fluid tab-pane active ml-0 p-0">
            <!-- Tab panes -->
          <div class="tab-content">
            <!-- tab hinh anh -->
              <div class="container-fluid tab-pane active ml-0 p-0" id="photoDiscover">
                <div class="row">
                  <!-- hinh anh 1-->
                  <div class="col-sm-12 col-md-6 border rounded p-0 mt-2  d-flex" >
                    <div class="container-fluid m-2">
                      <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 p-1 size-photos " data-toggle="modal" data-target="#modalPhoto">
                            <img class="rounded-sm w-100 h-100" src="/assets/img1.jpeg">
                        </div>
                        <div class="col-md-6">
                          <div>
                            <a href="#" class="nav-link d-inline-flex pl-0">
                              <img src="/assets/logoLogin.png" class="rounded-circle" id="avatarTop">
                              <p class="text-primary pt-2 pl-2"><b>Dinh Thuan</b></p>
                            </a>
                          <button type="button" class="btn mr-1" id="btnHomeFollow"><b>Following</b></button>
                          </div>
                          <div class="pr-2" data-toggle="modal" data-target="#modalPhoto">
                            <h4><b>Title</b></h4>
                            <p>Description: di choi voi ban be, ngam canh thien nhien</p>
                          </div>
                          <div class="container d-inline pl-0 b-line">
                            <div class="d-inline-flex">
                              <img class="btn-like" src="/assets/like.png">
                              <p style="font-size: 20px; margin: 5px;"><b> 120</b></p>
                            </div>
                            <p class=" pr-2 float-right"> 1/1/2019</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- hinh anh 2-->

                </div>
              </div> <!-- end tab photo -->
            <!--  tab album -->
              <div class="container-fluid tab-pane fade" id="albumDiscover">
                <div class="row">
                  <!-- Album 1-->
                  <div class="col-sm-12 col-md-6 border rounded p-0 mt-2 d-flex" >
                    <div class="container-fluid m-2">
                      <div class="row">
                        <div class="col-12 col-sm-12 col-lg-6 mt-3 size-albums" data-toggle="modal" data-target="#modalAlbum">
                          <div class="sizePhotos d-flex justify-content-center m-0">
                            <img class="rounded-sm size-photos" style="position: absolute; z-index: 3;" src="/assets/img2.jpeg">
                            <img class="rounded-sm size-photos" style="position: absolute; z-index: 2; transform: rotate(5deg);" src="/assets/img4.jpeg">
                            <img class="rounded-sm size-photos" style="position: absolute; z-index: 1; transform: rotate(10deg);" src="/assets/img5.jpg">
                            <img class="rounded-sm size-photos" style="position: absolute; z-index: 0; transform: rotate(15deg);" src="/assets/img3.jpg">
                          </div>
                        </div>
                        <div class="col-lg-6 pr-0">
                          <div>
                            <a href="#" class="nav-link d-inline-flex pl-0">
                              <img src="/assets/logoLogin.png" class="rounded-circle" id="avatarTop">
                              <p class="text-primary pt-2 pl-2"><b>Dinh Thuan</b></p>
                            </a>
                          <button type="button" class="btn mr-1" id="btnHomeFollow"><b>Following</b></button>
                          </div>
                          <div class="pr-2" data-toggle="modal" data-target="#modalAlbum">
                            <h4><b>Title</b></h4>
                            <p>Description: di choi voi ban be, ngam canh thien nhien</p>
                          </div>
                          <div class="container d-inline pl-0 b-line">
                            <div class="d-inline-flex">
                              <img class="btn-like" src="/assets/heart.png">
                              <p><b> 120</b></p>
                            </div>
                            <p class=" pr-2 float-right"> 1/1/2019</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div> <!-- end tab albumFeeds -->
              </div> <!-- end tab contents -->
            </div>
          </div>
        </div> <!--end tab Page-->

      </article>

    </div>
  </section>