<section class="container-fluid">
  <!--Tab feeds va discover-->
  <div class="row">
    <%= render '/layouts/tab_feeds' %>
    <article class="tab-content col-md-9 p-0 mt-5" >
       <div class="col-sm-8 col-lg-9" style="background-color: white">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h3 class="pt-4"><b>New Album</b></h3>
                <hr>
              </div>
            </div>
            <%= simple_form_for(@album) do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

              <div class="form-inputs">
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <div class="form-group">
                      <label>Title</label>
                      <%= f.text_field :title, class:"form-control", placeholder:"Enter photo title" %>
                    </div>

                    <div class="form-group">
                        <label>Sharing Mode</label>
                        <%= f.select(:sharing_mode, class:"form-control") do %>
                          <% [['Public', true], ['Private', false]].each do |c| -%>
                            <%= content_tag(:option, c.first, value: c.last) %>
                          <% end %>
                        <% end %>
                      </div>
                  </div>

                  <div class=" col-12 col-lg-6">
                    <div class="form-group">
                        <label>Desription</label>
                        <%= f.text_area :description, class:"form-control",rows:"6", placeholder:"Enter description" %>
                      </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col images">
                      <% if @album.images.exists? %>
                        <% @album.images.each do |photo| %>
                          <% if photo.variable? %>
                            <div id="photo-<%= photo.id %>">
                                <div class="float-left mt-2 mr-1">
                                  <div ng-repeat="file in imagefinaldata" class="img_wrp">
                                    <%= image_tag photo.variant(resize: "300x300") %>
                                      <img class="btnCloseA m-1" src="/assets/close.png" style="width:30px;height: 30px;" onclick="clickCloseA.call(this)" />
                                  </div>
                                </div>
                            </div>
                          <% else %>
                          <div id="photo-<%= photo.id %>">
                                <div class="float-left mt-2 mr-1">
                                  <div ng-repeat="file in imagefinaldata" class="img_wrp">
                                    <%= image_tag photo.preview(resize: "300x300") %>
                                      <img class="btnCloseA m-1" src="/assets/close.png" style="width:30px;height: 30px;" onclick="clickCloseA.call(this)" />
                                  </div>
                                </div>
                            </div>
                          <% end %>
                        <% end %>
                      <% end %>
                      <div class="upload-btn-wrapper float-left sizeMyPhotos mt-2">
                        <button class="btnUpload"><img src="/assets/plus4.png"></button>
                        <%= f.file_field :images,multiple: true, class:"btnUpload", onchange:"showImageAlbum.call(this)" %>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="form-actions row mt-5 m-1">
                <%= f.button :submit, "Save", class:"btn btnSubmit mr-2" %>
              </div>
            <% end %>
          </div>
        </div>
    </article>
  </div>
</section>
