<%= render 'layouts/toolbar' %>
<section class="container-fluid">
  <!--Tab feeds va discover-->
  <div class="row">
    <%= render '/layouts/tab_feeds' %>
    <article class="tab-content col-md-9 p-0 mt-5" >
      <div class="col-sm-8 col-lg-10 bg-white">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h3 class="pt-4"><b>New Album</b></h3>
              <hr>
            </div>
          </div>
          <%= simple_form_for @album, multipart: true, remote: true do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <div class="form-inputs">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <label>Title</label>
                    <%= f.text_field :title, class:"form-control", placeholder:"Enter photo title" %>
                  </div>
                  <div class="form-group">
                    <label>Sharing Mode</label>
                    <%= f.select(:sharing_mode, options_for_select([['Public', true], ['Private', false]]), {}, {class: "form-control w-50"}) %>
                  </div>
                </div>
                <div class=" col-12 col-lg-6">
                  <div class="form-group">
                    <label>Desription</label>
                    <%= f.text_area :description, class:"form-control",rows:"6", placeholder:"Enter description" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col images">
                  <% if @album.images.exists? %>
                    <% @album.images.each do |image| %>
                      <% if image.variable? %>
                        <div id="image_<%= image.id %>">
                          <div class="float-left mt-2 mr-1">
                            <div ng-repeat="file in imagefinaldata" class="img-wrp">
                              <%= image_tag image, {class:"size-my-photos"} %>
                              <%= link_to delete_image_attachment_album_url(image.id),
                                method: :delete do %>
                                <img class="btn-close-album m-1" src="/assets/close.png" />
                              <% end %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                  <div class="upload-btn-wrapper float-left size-my-photos mt-2">
                    <button class="btn-upload"><img src="/assets/plus4.png"></button>
                    <%= f.file_field :images, multiple: true,
                                              direct_upload: true,
                                              class:"btn-upload",
                                              onchange:"showImageAlbum.call(this)" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-actions row mt-5 m-1">
              <%= f.button :submit, "Save", class:"btn btn-submit mr-2" %>
              <%= link_to album, method: :delete,
                                 data: { confirm: 'Are you sure?' } do %>
                <button class=" btn btn-delete ml-2"> <i class="far fa-trash-alt"></i> Delete</button>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </article>
  </div>
</section>
