<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>
<% @album.images.each do |photo| %>
  <% if photo.variable? %>
    <%= image_tag photo.variant(resize: "300x300") %>
  <% else %>
    <%= image_tag photo.preview(resize: "300x300") %>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
